<div id="templatemo_header_wrapper">
    <div id="templatemo_header">

        <div id="site_logo"></div>

        <div id="templatemo_menu">
            <div id="templatemo_menu_left"></div>
            <ul>
                <li><a href="~/Home/Index"><b>Home</b></a></li>
                <li><a href="~/Home/Services"><b>Order Now</b></a></li>
                <li><a href="~/Home/Gallery"><b>Earn Money</b></a></li>
                <li><a href="~/Home/Company"><b>About Us</b></a></li>
                <li><a href="~/Home/Contact"><b>Contact Us</b></a></li>
            </ul>
        </div>
    </div>
</div>
