
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/shared/_Layout.cshtml";
}

@section metatags
{
    <meta name="description" content="Contact Page" />
    <meta name="keywords" content="Contact Keyword" />
}


<p>Work In Progress</p>

