



<div id="fix">

    <div class="row">
        <div class="col-sm-7">
            <div align="right">
                <font face="Adobe Ming Std L" size="10" style="color:red">Taste!</font>
                <font face="Adobe Ming Std L" size="10" style="color:cornflowerblue">    Wise</font>
            </div>
        </div>

        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <div align="right">
                <div><h3 class="btn-link" id="myBtn">SignUp/LogIn</h3></div>
            </div>
        </div>
        <div class="col-sm-2 dropdown ">
            <div>
               
                <label id="uphone"></label><input type="text" />
                <div><h3>Hello &nbsp;&nbsp;<label id="uname"></label></h3></div>
                <div class="dropdown-content" align="center">
                    <a href="#" style="text-decoration:none" id="">Log Out</a>
                </div>
            </div>
        </div>


        <div class="col-sm-1">
            <h3 style="color:orangered">Your Cart Logo</h3>
        </div>

    </div>





    <div id="myModal" class="modal">

        <!-- Modal content -->
        @*<div class="modal-content" style="height:600px; width:800px">
            <span class="close">&times;</span>*@
        <div id="loginbox" style="margin-top:50px; height:400px; width:600px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Log In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" action="Home/Login" method="post" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login_phone" type="text" class="form-control" name="phone" value="" placeholder="phone number">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login_password" type="password" class="form-control" name="password" placeholder="password">
                        </div>


                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                </label>
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                               
                                <input type="submit" id="btn-login" class="btn btn-success" value="Login" />
                                <button class="btn btn-primary Cancel" id="Cancel">Cancel</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Don't have an account!
                                    <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                        Sign Up Here
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div id="signupbox" style="display:none; height:500px; width:700px" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Log In</a></div>
                </div>
                <div class="panel-body">
                    <form id="signupform" action="Home/Signup" method="post" class="form-horizontal" role="form">

                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>



                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Phone Number</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                        </div>


                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="signup" type="submit" class="btn btn-info "><i class="icon-hand-right"></i> &nbsp Sign Up</button>

                                <button class="btn btn-primary Cancel" id="Cancel">Cancel</button>
                            </div>
                        </div>





                    </form>
                </div>
            </div>



        </div>



    </div>


    @*<form action="Home/Signup" method="post">
            <input type="number" name="phone" />
            <input type="text" name="name" />
            <input type="text" name="password" />
            <input type="submit" value="submit" />
        </form>*@




    <br />
    <br />
    <div class="row>" align="center">
        <a href="~/Home/Home" style="text-decoration:none"><font face="Bell MT" size="5">HOME</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @*<a href="~/Home/Services" style="text-decoration:none"><font face="Bell MT" size="5">ORDER</font></a>*@
        <div class="dropdown">
            <a href="~/Home/Order" style="text-decoration:none"><font face="Bell MT" size="5">ORDER</font></a>
            <div class="dropdown-content" align="center">
                <a href="~/Home/Order/marathi" style="text-decoration:none" id="Tab_Marathi">Marathi</a>
                <a href="~/Home/Order/punjabi" style="text-decoration:none" id="Tab_Punjabi">Punjabi</a>
                <a href="~/Home/Order/ni" style="text-decoration:none" id="Tab_NI">North Indian</a>
                <a href="~/Home/Order/bihari" style="text-decoration:none" id="Tab_Bihari">Bihari</a>
                <a href="~/Home/Order/gujrati" style="text-decoration:none" id="Tab_Gujrati">Gujrati</a>
                <a href="~/Home/Order/si" style="text-decoration:none" id="Tab_SI">South Indian</a>
                <a href="~/Home/Order" style="text-decoration:none" id="Tab_Other">OTHERS</a>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="~/Home/Gallery" style="text-decoration:none"><font face="Bell MT" size="5">EARN MONEY</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="~/Home/Company" style="text-decoration:none"><font face="Bell MT" size="5">ABOUT US</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="~/Home/Contact" style="text-decoration:none"><font face="Bell MT" size="5">CONTACT US</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>

    <div style="width:100%; height:67px; background-color:#800a0a">
        <br />
        <div align="center"><font color="white" size="5" face="Lucida Bright">GET 25% off on every item for advance order of 6 days</font></div>
    </div>

</div>


<script>
    
    $("#signup").click(function () {
              alert("signup");
               })
</script>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("Cancel")[0];
var span1 = document.getElementsByClassName("Cancel")[1];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
span1.onclick = function () {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {

    }
}

//$(".Cancel").click(function () {
//    alert("asdf");
//})

</script>



<style>
    /*#fix{
        width:100%;
        top:0;
        position:fixed;
    }*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>


<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<script>
    debugger;
    var phone = $("#bag_phone").val();
    alert("hi" + phone);
    $("#uphone").text(phone);

    var name = $("#bag_name").val();
    $("#uname").text(name);
</script>